/*Basic body css including a fancy radial gradient background*/
body {
    background: radial-gradient(circle, #3c749f,#a758c9 );
    color: #f8f9fa;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}
/*Main title for page*/
h1 {
    color: #ecc31c;
}
/* This is used to remove the annoying automatically created bullet points from a list*/
ul {
    list-style-type: none; 
    padding: 0;             
}
/*Spacing for main text (list in this scenario)*/
li {
    margin-bottom: 10px;   
}